html{
    color: mediumseagreen;
    font-family: Arial, Helvetica, sans-serif;
    width: 776px;
}

h1{
    color:crimson;
    text-align: center;
    font-family:'Times New Roman', serif;
    font-size: 42px;
    font-weight: lighter;
    padding-bottom: 15px;
}

.destacados{
    color: rgb(39, 107, 146);
    padding-left: 4px;
    padding-right: 5px;
    border-style: solid;
    border-color: firebrick;
    border-width: 2px;
}

.autores{
    padding-left: 30px;
}

.nombrePropio{
    text-decoration: underline;
}

.exploracion{
    font-weight: bold;
    background-color:lightyellow;
}

#image{
    align-items: center;
}